@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap:20px;
}
.embla__slide {
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 30%;
  }
}
